@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --color-bg-primary: #1e1e1e;
  --color-bg-secondary: #131313;
  --color-bg-tertiary: #3f3e3e;
  --color-text-primary: #fff;
  --color-text-secondary: #ccc;
  --bg-primary-nav: #362b2b;
  --color-text-primary-nav: #ffffff;
  --color-text-inverse-nav: #fff;
  --disabled-bg: #334155;
  --disabled-text: #ccc;
  --color-text-footer: #fff;
  --color-bg-footer: var(--bg-primary-nav);
}

.theme-light {
  --color-bg-primary: #fff;
  --color-bg-secondary: #eeecec;
  --color-bg-tertiary: #ffffff;
  --color-text-primary: #1e1e1e;
  --color-text-secondary: #8f8d8d;
  --bg-primary-nav: #ebebeb;
  --color-text-primary-nav: #000;
  --color-text-primary-nav: #000;
  --color-text-inverse-nav: #fff;
  --disabled-bg: #4f46e5;
  --disabled-text: #ffffff;
  --color-bg-footer: var(--bg-primary-nav);
  --color-text-footer: #000;
}

.theme-neon {
  --color-bg-primary: #3e0f6f;
  --color-bg-secondary: #2a0353;
  --color-text-primary: #e2e2dc;
  --color-text-secondary: #ccc;
  --bg-primary-nav: #2a0353;
  --color-text-primary-nav: #fff;
  --color-text-inverse-nav: #fff;
  --disabled-bg: #ccc;
  --color-text-footer: #fff;
  --color-bg-footer: var(--bg-primary-nav);
}

.theme-yellow {
  --color-bg-primary: #d0e62f;
  --color-bg-secondary: #e4f640;
  --color-text-primary: #1b1b1b;
  --bg-primary-nav: #e4f640;
  --color-text-primary-nav: #000;
  --color-text-primary-nav: #000;
  --color-text-inverse-nav: #fff;
  --disabled-bg: #f5f5f5;
  --color-text-footer: #000;
  --color-bg-footer: var(--bg-primary-nav);
}
